body {
    display: flex;
    justify-content: center;
}

#frame {
    height: 600px;
    width: 500px;
    border: 50px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    height: 500px;
    width: 400px;
    background-color: #4d0f00;
    filter: blur(1.5px);
}

#box1 {
    height: 148px;
    width: 350px;
    border-radius: 3%;
    background-color: #efb762;
    margin: 15px auto;
    box-shadow: inset 5em 1em #efb762;
    transform: rotate(0.5deg);
}

#box2 {
    height: 148px;
    width: 380px;
    border-radius: 3%;
    background-color: #8f0401;
    margin: 15px auto;
    box-shadow: inset 0 0 3px 3px #8f0401;
}

#box3 {
    height: 148px;
    width: 350px;
    border-radius: 20px 10px 25px 10px;
    background-color: #8f0401;
    margin: 5px auto;
    box-shadow: inset 0 0 3px 3px #8f0401;
}